<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694279088955-n4vspvuqvihr5k2nbm2m08f9m1q4hb97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694279088955-n4vspvuqvihr5k2nbm2m08f9m1q4hb97</string>
	<key>API_KEY</key>
	<string>AIzaSyBKUYo00FCg-cMiI-zOk4PHR8cOi5Ou52I</string>
	<key>GCM_SENDER_ID</key>
	<string>694279088955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Chien.Tweeter</string>
	<key>PROJECT_ID</key>
	<string>tweeter-c88a8</string>
	<key>STORAGE_BUCKET</key>
	<string>tweeter-c88a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694279088955:ios:f2d4d35319768c0b05651e</string>
	<key>DATABASE_URL</key>
	<string>https://tweeter-c88a8.firebaseio.com</string>
</dict>
</plist>